In [1]:
# imports
from selenium import webdriver
import time 
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import pandas as pd
import requests

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url =
https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [18]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

driver = webdriver.Chrome()

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

time.sleep(5)

row_data = []

for i in range(1, 31):
    row_elements = driver.find_elements(By.XPATH, f'//*[@id="mw-content-text"]/div[1]/table[1]/tbody/tr[{i}]/td')
    
    row_values = []

    for element in row_elements:
        row_values.append(element.text)

    row_data.append(row_values)

for row in row_data:
    print(row)

driver.quit()

['1.', '"Baby Shark Dance"[6]', "Pinkfong Baby Shark - children's songs", '13.18', 'June 17, 2016', '[A]']
['2.', '"Despacito"[9]', 'Luis Fonsi', '8.23', 'January 12, 2017', '[B]']
['3.', '"Johny Johny Yes Papa"[16]', 'LooLoo Kids - nursery rhymes', '6.76', 'October 8, 2016', '']
['4.', '"Bath Song"[17]', 'Cocomelon - nursery rhymes', '6.33', 'May 2, 2018', '']
['5.', '"Shape of You"[18]', 'Ed Sheeran', '6.05', 'January 30, 2017', '[C]']
['6.', '"See You Again"[21]', 'Wiz Khalifa', '5.98', 'April 6, 2015', '[D]']
['8.', '"Wheels on the Bus"[26]', 'Cocomelon - nursery rhymes', '5.46', 'May 24, 2018', '']
['7.', '"Phonics Song with Two Words"[27]', "ChuChu TV - children's songs", '5.42', 'March 6, 2014', '']
['9.', '"Uptown Funk"[28]', 'Mark Ronson', '4.99', 'November 19, 2014', '']
['10.', '"Learning Colors – Colorful Eggs on a Farm"[29]', "Miroshka TV - children's songs", '4.94', 'February 27, 2018', '']
['11.', '"Gangnam Style"[30]', 'Psy', '4.86', 'July 15, 2012', '[E]']
['12.', '"Masha and the Bear – Recipe for Disaster"[35]', "Get Movies - children's songs", '4.55', 'January 31, 2012', '']
['13.', '"Dame Tu Cosita"[36]', 'El Chombo', '4.41', 'April 5, 2018', '']
['14.', '"Axel F"[37]', 'Crazy Frog', '4.00', 'June 16, 2009', '']
['15.', '"Sugar"[38]', 'Maroon 5', '3.91', 'January 14, 2015', '']
['16.', '"Roar"[39]', 'Katy Perry', '3.84', 'September 5, 2013', '']
['17.', '"Counting Stars"[40]', 'OneRepublic', '3.84', 'May 31, 2013', '']
['18.', '"Baa Baa Black Sheep"[41]', 'Cocomelon - nursery rhymes', '3.73', 'June 25, 2018', '']
['19.', '"Sorry"[42]', 'Justin Bieber', '3.69', 'October 22, 2015', '']
['20.', '"Waka Waka (This Time for Africa)"[43]', 'Shakira', '3.68', 'June 4, 2010', '']
['21.', '"Thinking Out Loud"[44]', 'Ed Sheeran', '3.63', 'October 7, 2014', '']
['22.', '"Lakdi Ki Kathi"[45]', 'Jingle Toons', '3.63', 'June 14, 2018', '']
['23.', '"Dark Horse"[46]', 'Katy Perry', '3.56', 'February 20, 2014', '']
['24.', '"Perfect"[47]', 'Ed Sheeran', '3.51', 'November 9, 2017', '']
['25.', '"Faded"[48]', 'Alan Walker', '3.49', 'December 3, 2015', '']
['26.', '"Let Her Go"[49]', 'Passenger', '3.48', 'July 25, 2012', '']
['27.', '"Humpty the train on a fruits ride"[50]', "Kiddiestv Hindi - children's songs", '3.51', 'January 26, 2018', '']
['28.', '"Girls Like You"[51]', 'Maroon 5', '3.45', 'May 31, 2018', '']
['29.', '"Bailando"[52]', 'Enrique Iglesias', '3.43', 'April 11, 2014', '']
['30.', '"Lean On"[53]', 'Major Lazer', '3.43', 'March 22, 2015', '']

In [27]:
df = pd.DataFrame(row_data, columns=["Rank", "Name", "Artist", "Views (billions)", "Upload date", "note"])
df

,Rank,Name,Artist,Views (billions),Upload date,note
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - children's songs,13.18,"June 17, 2016",[A]
1,2.,"""Despacito""[9]",Luis Fonsi,8.23,"January 12, 2017",[B]
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - nursery rhymes,6.76,"October 8, 2016",
3,4.,"""Bath Song""[17]",Cocomelon - nursery rhymes,6.33,"May 2, 2018",
4,5.,"""Shape of You""[18]",Ed Sheeran,6.05,"January 30, 2017",[C]
5,6.,"""See You Again""[21]",Wiz Khalifa,5.98,"April 6, 2015",[D]
6,8.,"""Wheels on the Bus""[26]",Cocomelon - nursery rhymes,5.46,"May 24, 2018",
7,7.,"""Phonics Song with Two Words""[27]",ChuChu TV - children's songs,5.42,"March 6, 2014",
8,9.,"""Uptown Funk""[28]",Mark Ronson,4.99,"November 19, 2014",
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV - children's songs,4.94,"February 27, 2018",
10,11.,"""Gangnam Style""[30]",Psy,4.86,"July 15, 2012",[E]
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies - children's songs,4.55,"January 31, 2012",
12,13.,"""Dame Tu Cosita""[36]",El Chombo,4.41,"April 5, 2018",
13,14.,"""Axel F""[37]",Crazy Frog,4.00,"June 16, 2009",
14,15.,"""Sugar""[38]",Maroon 5,3.91,"January 14, 2015",
15,16.,"""Roar""[39]",Katy Perry,3.84,"September 5, 2013",
16,17.,"""Counting Stars""[40]",OneRepublic,3.84,"May 31, 2013",
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - nursery rhymes,3.73,"June 25, 2018",
18,19.,"""Sorry""[42]",Justin Bieber,3.69,"October 22, 2015",
19,20.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.68,"June 4, 2010",
20,21.,"""Thinking Out Loud""[44]",Ed Sheeran,3.63,"October 7, 2014",
21,22.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.63,"June 14, 2018",
22,23.,"""Dark Horse""[46]",Katy Perry,3.56,"February 20, 2014",
23,24.,"""Perfect""[47]",Ed Sheeran,3.51,"November 9, 2017",
24,25.,"""Faded""[48]",Alan Walker,3.49,"December 3, 2015",
25,26.,"""Let Her Go""[49]",Passenger,3.48,"July 25, 2012",
26,27.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi - children's songs,3.51,"January 26, 2018",
27,28.,"""Girls Like You""[51]",Maroon 5,3.45,"May 31, 2018",
28,29.,"""Bailando""[52]",Enrique Iglesias,3.43,"April 11, 2014",
29,30.,"""Lean On""[53]",Major Lazer,3.43,"March 22, 2015",

In [28]:
del df["note"]
df

,Rank,Name,Artist,Views (billions),Upload date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - children's songs,13.18,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.23,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - nursery rhymes,6.76,"October 8, 2016"
3,4.,"""Bath Song""[17]",Cocomelon - nursery rhymes,6.33,"May 2, 2018"
4,5.,"""Shape of You""[18]",Ed Sheeran,6.05,"January 30, 2017"
5,6.,"""See You Again""[21]",Wiz Khalifa,5.98,"April 6, 2015"
6,8.,"""Wheels on the Bus""[26]",Cocomelon - nursery rhymes,5.46,"May 24, 2018"
7,7.,"""Phonics Song with Two Words""[27]",ChuChu TV - children's songs,5.42,"March 6, 2014"
8,9.,"""Uptown Funk""[28]",Mark Ronson,4.99,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV - children's songs,4.94,"February 27, 2018"
10,11.,"""Gangnam Style""[30]",Psy,4.86,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies - children's songs,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[36]",El Chombo,4.41,"April 5, 2018"
13,14.,"""Axel F""[37]",Crazy Frog,4.00,"June 16, 2009"
14,15.,"""Sugar""[38]",Maroon 5,3.91,"January 14, 2015"
15,16.,"""Roar""[39]",Katy Perry,3.84,"September 5, 2013"
16,17.,"""Counting Stars""[40]",OneRepublic,3.84,"May 31, 2013"
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - nursery rhymes,3.73,"June 25, 2018"
18,19.,"""Sorry""[42]",Justin Bieber,3.69,"October 22, 2015"
19,20.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.68,"June 4, 2010"
20,21.,"""Thinking Out Loud""[44]",Ed Sheeran,3.63,"October 7, 2014"
21,22.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.63,"June 14, 2018"
22,23.,"""Dark Horse""[46]",Katy Perry,3.56,"February 20, 2014"
23,24.,"""Perfect""[47]",Ed Sheeran,3.51,"November 9, 2017"
24,25.,"""Faded""[48]",Alan Walker,3.49,"December 3, 2015"
25,26.,"""Let Her Go""[49]",Passenger,3.48,"July 25, 2012"
26,27.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi - children's songs,3.51,"January 26, 2018"
27,28.,"""Girls Like You""[51]",Maroon 5,3.45,"May 31, 2018"
28,29.,"""Bailando""[52]",Enrique Iglesias,3.43,"April 11, 2014"
29,30.,"""Lean On""[53]",Major Lazer,3.43,"March 22, 2015"

## 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1 ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [68]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

driver = webdriver.Chrome()

driver.get(" https://www.bcci.tv/")
delay = 5
WebDriverWait(driver, delay).until(EC.presence_of_element_located((By.XPATH, '/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')))

driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a').click()

In [69]:
def function(xpath, data_list):
    scrape = driver.find_elements(By.XPATH, xpath)
    
    for i in scrape:
        data_list.append(i.text)

Series = []
Place = []
Date = []
Time_Note = []

# Call the function for each data type
function('//h5[@class="match-tournament-name ng-binding"]', Series)
function('//span[@class="ng-binding ng-scope"]', Place)
function('//div[@class="match-dates ng-binding"]', Date)
function('//div[@class="match-time no-margin ng-binding"]', Time_Note)

print(len(Series))
print(len(Place))
print(len(Time_Note))
print(len(Time_Note))

8
8
8
8

In [70]:
URL = []
Match = []

match_url = driver.find_elements(By.XPATH, '//*[@id="match-card"]/div[3]/a')
for i in match_url:
    URL.append(i.get_attribute("href"))

In [71]:
URL

['https://www.bcci.tv/events/130/india-tour-of-ireland-2023/match/1178/1st-t20i',
 'https://www.bcci.tv/events/130/india-tour-of-ireland-2023/match/1179/2nd-t20i',
 'https://www.bcci.tv/events/130/india-tour-of-ireland-2023/match/1180/3rd-t20i',
 'https://www.bcci.tv/events/125/asia-cup-2023/match/1160/1st-odi',
 'https://www.bcci.tv/events/125/asia-cup-2023/match/1161/2nd-odi',
 'https://www.bcci.tv/events/126/australia-tour-of-india-2023-24/match/1162/1st-odi',
 'https://www.bcci.tv/events/126/australia-tour-of-india-2023-24/match/1163/2nd-odi',
 'https://www.bcci.tv/events/126/australia-tour-of-india-2023-24/match/1164/3rd-odi']

In [72]:
for url in URL:
    driver.get(url)
    time.sleep(10)
    
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div[2]/div/div[1]/div[3]/div[7]/div[4]/div[2]/div[3]/div[1]/div/ul/li[2]/span[2]')
        Match.append(scrape.text)
    except NoSuchElementException:
        Match.append("-")

In [73]:
Match

['-',
 'Ireland VS India',
 'Ireland VS India',
 'India VS Pakistan',
 'India VS Nepal',
 'India VS Australia',
 '-',
 '-']

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: 
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [42]:
driver = webdriver.Chrome()
driver.get('https://www.statisticstimes.com/')
time.sleep(2)
driver.find_element(By.CLASS_NAME, 'dropbtn').click()

link_element = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.PARTIAL_LINK_TEXT, 'India'))
)
link_element.click()

time.sleep(2)

from selenium.webdriver.common.action_chains import ActionChains
actions = ActionChains(driver)
actions.double_click().perform()

time.sleep(5)
driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/p[2]/a').click()

agree_button = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.CSS_SELECTOR, 'button.sc-ifAKCX.ljEJIv'))
)
agree_button.click()

In [49]:
row_2018 = []
row_2019 = []
scrape_element_row = driver.find_elements(By.XPATH, '//*[@id="table_id2"]/tbody/tr[3]')
scrape_element_row2 = driver.find_elements(By.XPATH, '//*[@id="table_id2"]/tbody/tr[4]')
for row in scrape_element_row:
    row_2018.append(row.text.split(" "))
print(row_2018)

for row in scrape_element_row2:
    row_2019.append(row.text.split(" "))
print(row_2019)

[['2018', '2,701.11', '2,826.59', '9,029.38', '8,817.67', '3.13', '6.97', '7/206', '3/193']]
[['2017', '2,651.47', '2,653.25', '8,276.93', '8,276.93', '3.26', '6.78', '6/206', '3/194']]

In [54]:
names=['Year','Current','Constant (2010)','GDP(billions Int. $)Current','GDP(billions Int. $)Constant (2017)','Share(%)(Nominal)','Share(%)(PPP)','Rank(Nominal)','Rank(PPP)']
df1 = pd.DataFrame(row_2018, columns=names)
df2 = pd.DataFrame(row_2019, columns=names)
df3 = pd.concat([df1,df2])
df3

,Year,Current,Constant (2010),GDP(billions Int. $)Current,GDP(billions Int. $)Constant (2017),Share(%)(Nominal),Share(%)(PPP),Rank(Nominal),Rank(PPP)
0,2018,"2,701.11","2,826.59","9,029.38","8,817.67",3.13,6.97,7/206,3/193
0,2017,"2,651.47","2,653.25","8,276.93","8,276.93",3.26,6.78,6/206,3/194

In [55]:
del df3["Current"]
del df3["Constant (2010)"]
df3

,Year,GDP(billions Int. $)Current,GDP(billions Int. $)Constant (2017),Share(%)(Nominal),Share(%)(PPP),Rank(Nominal),Rank(PPP)
0,2018,"9,029.38","8,817.67",3.13,6.97,7/206,3/193
0,2017,"8,276.93","8,276.93",3.26,6.78,6/206,3/194

## PUTTING ALL TOGETHER

In [56]:
driver = webdriver.Chrome()
driver.get('https://www.statisticstimes.com/')
time.sleep(2)
driver.find_element(By.CLASS_NAME, 'dropbtn').click()

link_element = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.PARTIAL_LINK_TEXT, 'India'))
)
link_element.click()

time.sleep(2)

from selenium.webdriver.common.action_chains import ActionChains
actions = ActionChains(driver)
actions.double_click().perform()

time.sleep(5)
driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/p[2]/a').click()

agree_button = WebDriverWait(driver, 10).until(
    EC.presence_of_element_located((By.CSS_SELECTOR, 'button.sc-ifAKCX.ljEJIv'))
)
agree_button.click()

row_2018 = []
row_2019 = []
scrape_element_row = driver.find_elements(By.XPATH, '//*[@id="table_id2"]/tbody/tr[3]')
scrape_element_row2 = driver.find_elements(By.XPATH, '//*[@id="table_id2"]/tbody/tr[4]')
for row in scrape_element_row:
    row_2018.append(row.text.split(" "))
print(row_2018)

for row in scrape_element_row2:
    row_2019.append(row.text.split(" "))
print(row_2019)

names=['Year','Current','Constant (2010)','GDP(billions Int. $)Current','GDP(billions Int. $)Constant (2017)','Share(%)(Nominal)','Share(%)(PPP)','Rank(Nominal)','Rank(PPP)']
df1 = pd.DataFrame(row_2018, columns=names)
df2 = pd.DataFrame(row_2019, columns=names)
df3 = pd.concat([df1,df2])

del df3["Current"]
del df3["Constant (2010)"]

df3

[['2018', '2,701.11', '2,826.59', '9,029.38', '8,817.67', '3.13', '6.97', '7/206', '3/193']]
[['2017', '2,651.47', '2,653.25', '8,276.93', '8,276.93', '3.26', '6.78', '6/206', '3/194']]

,Year,GDP(billions Int. $)Current,GDP(billions Int. $)Constant (2017),Share(%)(Nominal),Share(%)(PPP),Rank(Nominal),Rank(PPP)
0,2018,"9,029.38","8,817.67",3.13,6.97,7/206,3/193
0,2017,"8,276.93","8,276.93",3.26,6.78,6/206,3/194

## 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [61]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.get("https:/www.billboard.com/")
time.sleep(10)
driver.find_element(By.CSS_SELECTOR, 'button#onetrust-reject-all-handler').click()

Last_week_rank = []
Peak_rank = []

chart = WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.CSS_SELECTOR, '.js-MegaMenu-Trigger'))
)
chart.click()


hot_100 = driver.find_element(By.XPATH, '/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]')
hot_100.click()

Song_Artist_Last_week_rank_Peak_rank = []
song_artist = driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]')
for i in song_artist:
    Song_Artist_Last_week_rank_Peak_rank.append(i.text.split('\n'))
Song_Artist_Last_week_rank_Peak_rank

[['Last Night', 'Morgan Wallen', '1', '1', '28'],
 ['Fast Car', 'Luke Combs', '2', '2', '20'],
 ['Cruel Summer', 'Taylor Swift', '4', '3', '14'],
 ['Calm Down', 'Rema & Selena Gomez', '6', '3', '49'],
 ['Fukumean', 'Gunna', '7', '4', '8'],
 ['Vampire', 'Olivia Rodrigo', '9', '1', '6'],
 ['Dance The Night', 'Dua Lipa', '10', '7', '11'],
 ['Barbie World', 'Nicki Minaj & Ice Spice With Aqua', '8', '7', '7'],
 ['Flowers', 'Miley Cyrus', '12', '1', '30'],
 ['Snooze', 'SZA', '15', '10', '35'],
 ['All My Life', 'Lil Durk Featuring J. Cole', '13', '2', '13'],
 ['Meltdown', 'Travis Scott Featuring Drake', '3', '3', '2'],
 ['Karma', 'Taylor Swift Featuring Ice Spice', '20', '2', '22'],
 ['What Was I Made For?', 'Billie Eilish', '22', '14', '4'],
 ['Paint The Town Red', 'Doja Cat', '-', '15', '1'],
 ['Need A Favor', 'Jelly Roll', '24', '14', '19'],
 ['Religiously', 'Bailey Zimmerman', '33', '17', '14'],
 ['Anti-Hero', 'Taylor Swift', '31', '1', '42'],
 ['Kill Bill', 'SZA', '29', '1', '35'],
 ["Creepin'", 'Metro Boomin, The Weeknd & 21 Savage', '32', '3', '36'],
 ['Try That In A Small Town', 'Jason Aldean', '21', '1', '4'],
 ['I Know ?', 'Travis Scott', '11', '11', '2'],
 ["Thinkin' Bout Me", 'Morgan Wallen', '37', '9', '23'],
 ['FE!N', 'Travis Scott Featuring Playboi Carti', '5', '5', '2'],
 ['Cupid', 'Fifty Fifty', '41', '17', '21'],
 ['Favorite Song', 'Toosii', '39', '5', '25'],
 ['K-POP', 'Travis Scott, Bad Bunny & The Weeknd', '18', '7', '3'],
 ['Seven', 'Jung Kook Featuring Latto', '30', '1', '4'],
 ['Telekinesis', 'Travis Scott Featuring SZA & Future', '26', '26', '2'],
 ['Dial Drunk', 'Noah Kahan With Post Malone', '44', '25', '8'],
 ['Ella Baila Sola', 'Eslabon Armado X Peso Pluma', '42', '4', '21'],
 ['Next Thing You Know', 'Jordan Davis', '45', '23', '29'],
 ['Love You Anyway', 'Luke Combs', '48', '15', '26'],
 ['Thought You Should Know', 'Morgan Wallen', '50', '7', '52'],
 ['Chemical', 'Post Malone', '35', '13', '17'],
 ['Bury Me In Georgia', 'Kane Brown', '51', '36', '13'],
 ['You, Me, & Whiskey', 'Justin Moore & Priscilla Block', '47', '37', '14'],
 ['La Bebe', 'Yng Lvcas x Peso Pluma', '52', '11', '21'],
 ['Watermelon Moonshine', 'Lainey Wilson', '71', '39', '7'],
 ['Search & Rescue', 'Drake', '54', '2', '18'],
 ['Put It On Da Floor Again', 'Latto Featuring Cardi B', '57', '13', '10'],
 ['Un x100to', 'Grupo Frontera X Bad Bunny', '59', '5', '17'],
 ['LaLa', 'Myke Towers', '60', '43', '5'],
 ['My Eyes', 'Travis Scott', '19', '19', '2'],
 ['Daylight', 'David Kushner', '74', '45', '17'],
 ['Topia Twins', 'Travis Scott Featuring Rob49 & 21 Savage', '17', '17', '2'],
 ['Lady Gaga', 'Peso Pluma, Gabito Ballesteros & Junior H', '63', '35', '7'],
 ["Baby Don't Hurt Me",
  'David Guetta, Anne-Marie & Coi Leray',
  '64',
  '48',
  '12'],
 ['Blank Space', 'Taylor Swift', '-', '1', '37'],
 ['What It Is (Block Boy)', 'Doechii Featuring Kodak Black', '66', '50', '14'],
 ['Deli', 'Ice Spice', '58', '41', '3'],
 ['Where She Goes', 'Bad Bunny', '61', '8', '12'],
 ['Princess Diana', 'Ice Spice & Nicki Minaj', '62', '4', '17'],
 ['Peaches & Eggplants', 'Young Nudy Featuring 21 Savage', '69', '52', '10'],
 ['In Your Love', 'Tyler Childers', '43', '43', '2'],
 ['Mourning', 'Post Malone', '40', '36', '12'],
 ['Area Codes', 'Kaliii', '65', '33', '14'],
 ['Your Heart Or Mine', 'Jon Pardi', '72', '53', '13'],
 ['White Horse', 'Chris Stapleton', '79', '31', '3'],
 ['Sabor Fresa', 'Fuerza Regida', '70', '26', '7'],
 ['Truck Bed', 'HARDY', '91', '61', '8'],
 ['Eyes Closed', 'Ed Sheeran', '73', '19', '20'],
 ["I Can See You (Taylor's Version) (From The Vault)",
  'Taylor Swift',
  '76',
  '5',
  '5'],
 ['Thank God', 'Travis Scott', '16', '16', '2'],
 ['Tulum', 'Peso Pluma & Grupo Frontera', '75', '43', '6'],
 ['Super Shy', 'NewJeans', '77', '48', '5'],
 ['Popular', 'The Weeknd, Playboi Carti & Madonna', '86', '43', '10'],
 ['Good Good', 'Usher, Summer Walker & 21 Savage', '-', '68', '1'],
 ['Everything I Love', 'Morgan Wallen', '83', '14', '24'],
 ['Hyaena', 'Travis Scott', '14', '14', '2'],
 ['Modern Jam', 'Travis Scott Featuring Teezo Touchdown', '23', '23', '2'],
 ['Shake Sumn', 'DaBaby', '84', '65', '12'],
 ['Jaded', 'Miley Cyrus', '93', '56', '12'],
 ['Stand By Me', 'Lil Durk Featuring Morgan Wallen', '81', '22', '11'],
 ['Speed Drive', 'Charli XCX', '78', '73', '3'],
 ['Fragil', 'Yahritza y Su Esencia x Grupo Frontera', '82', '69', '16'],
 ['TQM', 'Fuerza Regida', '85', '34', '12'],
 ["Angels Don't Always Have Wings", 'Thomas Rhett', '-', '78', '3'],
 ['Johnny Dang', 'That Mexican OT, Paul Wall & DRODi', '100', '79', '4'],
 ['Memory Lane', 'Old Dominion', '95', '27', '19'],
 ['Heartbroken', 'Diplo, Jessie Murph & Polo G', '94', '64', '3'],
 ['El Amor de Su Vida', 'Grupo Frontera & Grupo Firme', '-', '82', '1'],
 ['Jealousy', 'Offset & Cardi B', '55', '55', '2'],
 ['Oh U Went', 'Young Thug Featuring Drake', '96', '19', '7'],
 ['Til Further Notice',
  'Travis Scott Featuring James Blake & 21 Savage',
  '38',
  '38',
  '2'],
 ['Oklahoma Smoke Show', 'Zach Bryan', '-', '86', '3'],
 ['Sirens', 'Travis Scott', '27', '27', '2'],
 ['Save Me', 'Jelly Roll With Lainey Wilson', '-', '85', '8'],
 ["God's Country", 'Travis Scott', '28', '28', '2'],
 ["I'm Just Ken", 'Ryan Gosling', '92', '87', '3'],
 ['ICU', 'Coco Jones', '97', '62', '19'],
 ['Skitzo', 'Travis Scott Featuring Young Thug', '34', '34', '2'],
 ['Delresto (Echoes)', 'Travis Scott & Beyonce', '25', '25', '2'],
 ['See You Again', 'Tyler, The Creator Featuring Kali Uchis', '-', '44', '16'],
 ['Pound Town 2', 'Sexyy Red & Tay Keith & Nicki Minaj', '98', '66', '10'],
 ['Lagunas', 'Peso Pluma & Jasiel Nunez', '-', '77', '6'],
 ['Overdrive', 'Post Malone', '68', '47', '3'],
 ['Bzrp Music Sessions, Vol. 55', 'Bizarrap & Peso Pluma', '99', '31', '10'],
 ['Dawns', 'Zach Bryan Featuring Maggie Rogers', '-', '42', '15'],
 ['Rubicon', 'Peso Pluma', '-', '63', '6']]

In [62]:
df = pd.DataFrame(Song_Artist_Last_week_rank_Peak_rank, columns=["Song name", "Artist name", "Last week", "Peak rank.","Weeks on board"])
df

,Song name,Artist name,Last week,Peak rank.,Weeks on board
0,Last Night,Morgan Wallen,1,1,28
1,Fast Car,Luke Combs,2,2,20
2,Cruel Summer,Taylor Swift,4,3,14
3,Calm Down,Rema & Selena Gomez,6,3,49
4,Fukumean,Gunna,7,4,8
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,-,77,6
96,Overdrive,Post Malone,68,47,3
97,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,99,31,10
98,Dawns,Zach Bryan Featuring Maggie Rogers,-,42,15
99,Rubicon,Peso Pluma,-,63,6

## 6.  https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [111]:
driver = webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

column_names = []
headings = driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/thead')
for i in headings:                         
    column_names.append(i.text.split("\n"))


row_data_1 = []
row_data_i = []

# Extract data from the first row
elements_row_1 = driver.find_elements(By.XPATH, '//*[@id="article-body-blocks"]/div/table/tbody/tr[1]')
for i in elements_row_1:
    row_data_1.extend(i.text.split('\n'))  # Use extend instead of append

# Extract data from the remaining rows
x = 2
while True:
    elements_row_i = driver.find_elements(By.XPATH, f'//*[@id="article-body-blocks"]/div/table/tbody/tr[{x}]')
    if not elements_row_i:
        break  # Break the loop when no more rows are found
    
    for row in elements_row_i:
        row_data_i.append(row.text)
    
    x += 1  # Move to the next row

print(column_names)
print(row_data_1)
print(row_data_i)

[['Rank', 'Title', 'Author', 'Volume Sales', 'Publisher', 'Genre']]
['1 Da Vinci Code,The Brown, Dan 5,094,805 Transworld Crime, Thriller & Adventure']
["2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children's Fiction", "3 Harry Potter and the Philosopher's Stone Rowling, J.K. 4,200,654 Bloomsbury Children's Fiction", "4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children's Fiction", '5 Fifty Shades of Grey James, E. L. 3,758,936 Random House Romance & Sagas', "6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children's Fiction", "7 Harry Potter and the Chamber of Secrets Rowling, J.K. 3,484,047 Bloomsbury Children's Fiction", "8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children's Fiction", '9 Angels and Demons Brown, Dan 3,193,946 Transworld Crime, Thriller & Adventure', "10 Harry Potter and the Half-blood Prince:Children's Edition Rowling, J.K. 2,950,264 Bloomsbury Children's Fiction", '11 Fifty Shades Darker James, E. L. 2,479,784 Random House Romance & Sagas', '12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction', '13 Girl with the Dragon Tattoo,The:Millennium Trilogy Larsson, Stieg 2,233,570 Quercus Crime, Thriller & Adventure', '14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas', '15 Lost Symbol,The Brown, Dan 2,183,031 Transworld Crime, Thriller & Adventure', '16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction', '17 Deception Point Brown, Dan 2,062,145 Transworld Crime, Thriller & Adventure', '18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction', '19 Lovely Bones,The Sebold, Alice 2,005,598 Pan Macmillan General & Literary Fiction', '20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction', '21 Digital Fortress Brown, Dan 1,928,900 Transworld Crime, Thriller & Adventure', '22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science', '23 Girl Who Played with Fire,The:Millennium Trilogy Larsson, Stieg 1,814,784 Quercus Crime, Thriller & Adventure', '24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction', '25 Very Hungry Caterpillar,The:The Very Hungry Caterpillar Carle, Eric 1,783,535 Penguin Picture Books', '26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books', "27 Jamie's 30-Minute Meals Oliver, Jamie 1,743,266 Penguin Food & Drink: General", '28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction']

In [45]:
import re

# Select the first element from the row_data_1 list
input_string = row_data_1[0]

pattern = r'(\d+)\s(.*?),(.+?)\s(\d+,\d+,\d+)\s(.+)'
result1 = re.match(pattern, input_string)

if result1:
    groups = result1.groups()
    transformed_list = [groups[0], groups[1], groups[2], groups[3], groups[4]]
    print(transformed_list)
else:
    print("Pattern did not match.")

for i in range(0,100):
    input_string2 = row_data_i[i]
    pattern = r'(\d+)\s(.*?),(.+?)\s(\d+,\d+,\d+)\s(.+)'
    result2 = re.match(pattern, input_string2)

    if result2:
        groups = result2.groups()
        transformed_list = [groups[0], groups[1], groups[2], groups[3], groups[4]]
        print(transformed_list)
    else:
        print("Pattern did not match.")

['1', 'Da Vinci Code', 'The Brown, Dan', '5,094,805', 'Transworld Crime, Thriller & Adventure']
['2', 'Harry Potter and the Deathly Hallows Rowling', ' J.K.', '4,475,152', "Bloomsbury Children's Fiction"]
['3', "Harry Potter and the Philosopher's Stone Rowling", ' J.K.', '4,200,654', "Bloomsbury Children's Fiction"]
['4', 'Harry Potter and the Order of the Phoenix Rowling', ' J.K.', '4,179,479', "Bloomsbury Children's Fiction"]
['5', 'Fifty Shades of Grey James', ' E. L.', '3,758,936', 'Random House Romance & Sagas']
['6', 'Harry Potter and the Goblet of Fire Rowling', ' J.K.', '3,583,215', "Bloomsbury Children's Fiction"]
['7', 'Harry Potter and the Chamber of Secrets Rowling', ' J.K.', '3,484,047', "Bloomsbury Children's Fiction"]
['8', 'Harry Potter and the Prisoner of Azkaban Rowling', ' J.K.', '3,377,906', "Bloomsbury Children's Fiction"]
['9', 'Angels and Demons Brown', ' Dan', '3,193,946', 'Transworld Crime, Thriller & Adventure']
['10', "Harry Potter and the Half-blood Prince:Children's Edition Rowling", ' J.K.', '2,950,264', "Bloomsbury Children's Fiction"]
['11', 'Fifty Shades Darker James', ' E. L.', '2,479,784', 'Random House Romance & Sagas']
['12', 'Twilight Meyer', ' Stephenie', '2,315,405', 'Little, Brown Book Young Adult Fiction']
['13', 'Girl with the Dragon Tattoo', 'The:Millennium Trilogy Larsson, Stieg', '2,233,570', 'Quercus Crime, Thriller & Adventure']
['14', 'Fifty Shades Freed James', ' E. L.', '2,193,928', 'Random House Romance & Sagas']
['15', 'Lost Symbol', 'The Brown, Dan', '2,183,031', 'Transworld Crime, Thriller & Adventure']
['16', 'New Moon Meyer', ' Stephenie', '2,152,737', 'Little, Brown Book Young Adult Fiction']
['17', 'Deception Point Brown', ' Dan', '2,062,145', 'Transworld Crime, Thriller & Adventure']
['18', 'Eclipse Meyer', ' Stephenie', '2,052,876', 'Little, Brown Book Young Adult Fiction']
['19', 'Lovely Bones', 'The Sebold, Alice', '2,005,598', 'Pan Macmillan General & Literary Fiction']
['20', 'Curious Incident of the Dog in the Night-time', 'The Haddon, Mark', '1,979,552', 'Random House General & Literary Fiction']
['21', 'Digital Fortress Brown', ' Dan', '1,928,900', 'Transworld Crime, Thriller & Adventure']
['22', 'Short History of Nearly Everything', 'A Bryson, Bill', '1,852,919', 'Transworld Popular Science']
['23', 'Girl Who Played with Fire', 'The:Millennium Trilogy Larsson, Stieg', '1,814,784', 'Quercus Crime, Thriller & Adventure']
['24', 'Breaking Dawn Meyer', ' Stephenie', '1,787,118', 'Little, Brown Book Young Adult Fiction']
['25', 'Very Hungry Caterpillar', 'The:The Very Hungry Caterpillar Carle, Eric', '1,783,535', 'Penguin Picture Books']
['26', 'Gruffalo', 'The Donaldson, Julia', '1,781,269', 'Pan Macmillan Picture Books']
['27', "Jamie's 30-Minute Meals Oliver", ' Jamie', '1,743,266', 'Penguin Food & Drink: General']
['28', 'Kite Runner', 'The Hosseini, Khaled', '1,629,119', 'Bloomsbury General & Literary Fiction']
['29', 'One Day Nicholls', ' David', '1,616,068', 'Hodder & Stoughton General & Literary Fiction']
['30', 'Thousand Splendid Suns', 'A Hosseini, Khaled', '1,583,992', 'Bloomsbury General & Literary Fiction']
['31', "Girl Who Kicked the Hornets' Nest", 'The:Millennium Trilogy Larsson, Stieg', '1,555,135', 'Quercus Crime, Thriller & Adventure']
['32', "Time Traveler's Wife", 'The Niffenegger, Audrey', '1,546,886', 'Random House General & Literary Fiction']
['33', 'Atonement McEwan', ' Ian', '1,539,428', 'Random House General & Literary Fiction']
['34', "Bridget Jones's Diary:A Novel Fielding", ' Helen', '1,508,205', 'Pan Macmillan General & Literary Fiction']
['35', 'World According to Clarkson', 'The Clarkson, Jeremy', '1,489,403', 'Penguin Humour: Collections & General']
['36', "Captain Corelli's Mandolin Bernieres", ' Louis de', '1,352,318', 'Random House General & Literary Fiction']
['37', 'Sound of Laughter', 'The Kay, Peter', '1,310,207', 'Random House Autobiography: General']
['38', 'Life of Pi Martel', ' Yann', '1,310,176', 'Canongate General & Literary Fiction']
['39', 'Billy Connolly Stephenson', ' Pamela', '1,231,957', 'HarperCollins Biography: The Arts']
['40', 'Child Called It', 'A Pelzer, Dave', '1,217,712', 'Orion Autobiography: General']
['41', "Gruffalo's Child", 'The Donaldson, Julia', '1,208,711', 'Pan Macmillan Picture Books']
['42', "Angela's Ashes:A Memoir of a Childhood McCourt", ' Frank', '1,204,058', 'HarperCollins Autobiography: General']
['43', 'Birdsong Faulks', ' Sebastian', '1,184,967', 'Random House General & Literary Fiction']
['44', 'Northern Lights:His Dark Materials S. Pullman', ' Philip', '1,181,503', 'Scholastic Ltd. Young Adult Fiction']
['45', 'Labyrinth Mosse', ' Kate', '1,181,093', 'Orion General & Literary Fiction']
['46', 'Harry Potter and the Half-blood Prince Rowling', ' J.K.', '1,153,181', 'Bloomsbury Science Fiction & Fantasy']
['47', 'Help', 'The Stockett, Kathryn', '1,132,336', 'Penguin General & Literary Fiction']
['48', 'Man and Boy Parsons', ' Tony', '1,130,802', 'HarperCollins General & Literary Fiction']
['49', 'Memoirs of a Geisha Golden', ' Arthur', '1,126,337', 'Random House General & Literary Fiction']
['50', "No.1 Ladies' Detective Agency", "The:No.1 Ladies' Detective Agency S. McCall Smith, Alexander", '1,115,549', 'Little, Brown Book Crime, Thriller & Adventure']
['51', 'Island', 'The Hislop, Victoria', '1,108,328', 'Headline General & Literary Fiction']
['52', 'PS', ' I Love You Ahern, Cecelia', '1,107,379', 'HarperCollins General & Literary Fiction']
['53', 'You are What You Eat:The Plan That Will Change Your Life McKeith', ' Gillian', '1,104,403', 'Penguin Fitness & Diet']
['54', 'Shadow of the Wind', 'The Zafon, Carlos Ruiz', '1,092,349', 'Orion General & Literary Fiction']
['55', 'Tales of Beedle the Bard', 'The Rowling, J.K.', '1,090,847', "Bloomsbury Children's Fiction"]
['56', 'Broker', 'The Grisham, John', '1,087,262', 'Random House Crime, Thriller & Adventure']
['57', "Dr. Atkins' New Diet Revolution:The No-hunger", ' Luxurious Weight Loss P Atkins, Robert C.', '1,054,196', 'Random House Fitness & Diet']
['58', 'Subtle Knife', 'The:His Dark Materials S. Pullman, Philip', '1,037,160', 'Scholastic Ltd. Young Adult Fiction']
['59', 'Eats', ' Shoots and Leaves:The Zero Tolerance Approach to Punctuation Truss, Lynne', '1,023,688', 'Profile Books Group Usage & Writing Guides']
['60', "Delia's How to Cook:(Bk.1) Smith", ' Delia', '1,015,956', 'Random House Food & Drink: General']
['61', 'Chocolat Harris', ' Joanne', '1,009,873', 'Transworld General & Literary Fiction']
['62', 'Boy in the Striped Pyjamas', 'The Boyne, John', '1,004,414', 'Random House Childrens Books G Young Adult Fiction']
['63', "My Sister's Keeper Picoult", ' Jodi', '1,003,780', 'Hodder & Stoughton General & Literary Fiction']
['64', 'Amber Spyglass', 'The:His Dark Materials S. Pullman, Philip', '1,002,314', 'Scholastic Ltd. Young Adult Fiction']
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.
Pattern did not match.

IndexError: list index out of range

## 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [113]:
driver = webdriver.Chrome()
driver.get(" https://www.imdb.com/list/ls095964455/")

In [114]:
Votes = []

for i in range(1, 101):
    elements_row_i = driver.find_elements(By.XPATH, f'/html/body/div[2]/div/div[2]/div/div[1]/div/div[3]/div[3]/div[{i}]/div[2]/p[4]/span[2]')
    
    for row in elements_row_i:
        Votes.append(row.text)
        
print(Votes)

['2,193,338', '1,267,079', '1,041,092', '305,989', '265,071', '312,696', '150,587', '326,742', '362,079', '440,244', '504,767', '837,683', '606,303', '962,566', '558,865', '173,732', '336,176', '330,134', '2,021,709', '341,133', '464,693', '559,347', '159,799', '157,950', '422,442', '231,321', '449,470', '458,848', '1,040,489', '708,144', '441,786', '403,840', '142,579', '127,493', '184,219', '159,181', '236,504', '519,475', '221,231', '458,645', '563,474', '67,611', '207,663', '518,908', '417,639', '86,009', '308,933', '261,919', '236,795', '222,249', '283,097', '744,702', '137,370', '353,955', '269,326', '574,974', '599,177', '486,989', '62,696', '114,281', '352,369', '77,026', '108,136', '249,213', '102,733', '106,360', '55,706', '152,687', '393,081', '339,878', '109,959', '261,937', '604,957', '110,043', '134,625', '597,237', '113,096', '252,328', '98,059', '24,052', '151,574', '176,746', '136,041', '39,886', '312,631', '122,800', '136,115', '77,466', '112,939', '213,765', '31,097', '193,302', '233,112', '814,820', '71,756', '52,435', '64,462', '210,120', '43,692', '263,705']

In [115]:
len(Votes)

100

In [116]:
urls = []

for i in range(1, 101):
    xpath = f'//*[@id="main"]/div/div[3]/div[3]/div[{i}]/div[2]/h3/a'
    
    scrap_url = driver.find_elements(By.XPATH, xpath)
    
    for url in scrap_url:
        source = url.get_attribute("href")
        if source is not None and source.startswith("https"):
            urls.append(source)
        else:
            urls.append("")

urls

['https://www.imdb.com/title/tt0944947/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4574334/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1520211/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1837492/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2661044/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2372162/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt5420376/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0413573/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3107288/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2193021/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6468322/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0898266/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2085059/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1475582/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2306299/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1578873/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1405406/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1844624/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0903747/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4052886/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0460681/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0455275/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3205802/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1567432/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0096697/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1843230/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2707408/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3322312/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0108778/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0460649/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1632701/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4158110/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2632424/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4016454/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0397442/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2431438/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3749900/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0475784/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2357547/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1442437/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2861424/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4145054/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6257970/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1856010/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt5753856/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt7134908/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt7767422/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1586680/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1826940/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2364582/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt7335184/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0773262/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3743822/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0182576/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2741602/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0411008/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2442560/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0412142/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4428122/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2234222/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1796960/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4474344/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4532368/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt5834204/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt7569592/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6470478/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3566726/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1327801/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0121955/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2467372/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1553656/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1312171/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2356777/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4635282/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0410975/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3032476/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2188671/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt5675620/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6315640/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6128300/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt5555260/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4955642/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3322310/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6656238/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt5290382/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1837642/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3322314/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1837576/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4230076/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3920596/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6487482/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt1196946/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4786824/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt7366338/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3501584/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt2710394/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt4834206/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt0452046/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt3921180/?ref_=ttls_li_tt',
 'https://www.imdb.com/title/tt6763664/?ref_=ttls_li_tt']

In [117]:
name =[]
year_span = []
Genre = []
Run_time =[]
Ratings = []


for url in urls:
    driver.get(url)
    time.sleep(10)
       
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/h1/span')
        name.append(scrape.text)
    except NoSuchElementException:
        name.append("-")
        
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[2]/a')
        year_span.append(scrape.text)
    except NoSuchElementException:
        year_span.append("-")
        
    try:
        scrape = driver.find_element(By.XPATH, '//div[@class="ipc-chip-list__scroller"]')
        Genre.append(scrape.text)
    except NoSuchElementException:
        Genre.append("-")
        
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[4]')
        Run_time.append(scrape.text)
    except NoSuchElementException:
        Run_time.append("-")
    
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/div[1]/div/div[1]/a/span/div/div[2]/div[1]')
        Ratings.append(scrape.text)
    except NoSuchElementException:
        Ratings.append("-")

print(len(name))
print(len(year_span))
print(len(Genre))
print(len(Run_time))
print(len(Ratings))

100
100
100
100
100

In [121]:
df = pd.DataFrame({'name':name, 'year_span':year_span, 'Genre':Genre, 'Run time':Run_time, 'Ratings':Ratings, 'Votes':Votes})
df

,name,year_span,Genre,Run time,Ratings,Votes
0,Game of Thrones,2011–2019,Action\nAdventure\nDrama,57m,,"2,193,338"
1,Stranger Things,2016–2024,Drama\nFantasy\nHorror,51m,,"1,267,079"
2,The Walking Dead,2010–2022,Drama\nHorror\nThriller,44m,,"1,041,092"
3,13 Reasons Why,2017–2020,Drama\nMystery\nThriller,1h,,"305,989"
4,The 100,2014–2020,Drama\nMystery\nSci-Fi,43m,,"265,071"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42m,,"52,435"
96,A Series of Unfortunate Events,2017–2019,Adventure\nComedy\nDrama,50m,,"64,462"
97,Criminal Minds,2005–,Crime\nDrama\nMystery,42m,,"210,120"
98,Scream: The TV Series,2015–2019,Comedy\nCrime\nDrama,45m,,"43,692"
99,The Haunting of Hill House,2018,Drama\nHorror\nMystery,9h 32m,,"263,705"

## 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [123]:
driver = webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/ ")

viewdatasets = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
viewdatasets.click()

In [126]:
urls = []

for i in range(1, 20):
    if i % 2 != 0:
        xpath = f'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div[{i}]/div/div[2]/h2/a'
        
        scrap_url = driver.find_elements(By.XPATH, xpath)
        
        for url in scrap_url:
            source = url.get_attribute("href")
            if source is not None and source.startswith("https"):
                urls.append(source)
            else:
                urls.append("")

print(urls)

['https://archive.ics.uci.edu/dataset/53/iris', 'https://archive.ics.uci.edu/dataset/45/heart+disease', 'https://archive.ics.uci.edu/dataset/2/adult', 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset', 'https://archive.ics.uci.edu/dataset/34/diabetes', 'https://archive.ics.uci.edu/dataset/109/wine', 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic', 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik', 'https://archive.ics.uci.edu/dataset/19/car+evaluation', 'https://archive.ics.uci.edu/dataset/73/mushroom']

In [127]:
len(urls)

10

In [132]:
Dataset_name =[]
Data_type = []
Task = []
Attribute_type =[]
No_of_instances = []
No_Of_attribute =[]
Year = []


for url in urls:
    driver.get(url)
    time.sleep(10)
       
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/div/h1')
        Dataset_name.append(scrape.text)
    except NoSuchElementException:
        Dataset_name.append("-")
        
    try:
        scrape = driver.find_element(By.XPATH, '//p[@class="text-md"]')
        Data_type.append(scrape.text)
    except NoSuchElementException:
        Data_type.append("-")

    
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
        Year.append(scrape.text)
    except NoSuchElementException:
        Year.append("-")

In [133]:
Dataset_name

['Iris',
 'Heart Disease',
 'Adult',
 'Dry Bean Dataset',
 'Diabetes',
 'Wine',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Rice (Cammeo and Osmancik)',
 'Car Evaluation',
 'Mushroom']

In [134]:
Data_type

['Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate, Time-Series',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate']

In [135]:
Year

['Donated on 6/30/1988',
 'Donated on 6/30/1988',
 'Donated on 4/30/1996',
 'Donated on 9/13/2020',
 '-',
 'Donated on 6/30/1991',
 'Donated on 10/31/1995',
 'Donated on 10/5/2019',
 'Donated on 5/31/1997',
 'Donated on 4/26/1987']

In [144]:
Dataset_name =[]
Data_type = []
Task = []
Attribute_type =[]
No_of_instances = []
No_Of_attribute =[]
Year = []


for url in urls:
    driver.get(url)
    time.sleep(10)
       
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/div/h1')
        Dataset_name.append(scrape.text)
    except NoSuchElementException:
        Dataset_name.append("-")
        
    try:
        scrape = driver.find_element(By.XPATH, '//p[@class="text-md"]')
        Data_type.append(scrape.text)
    except NoSuchElementException:
        Data_type.append("-")

        
    
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
        Year.append(scrape.text)
    except NoSuchElementException:
        Year.append("-")
    
          
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')
        Task.append(scrape.text)
    except NoSuchElementException:
        Task.append("-")
    
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        Attribute_type.append(scrape.text)
    except NoSuchElementException:
        Attribute_type.append("-")
    
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
        No_of_instances.append(scrape.text)
    except NoSuchElementException:
        No_of_instances.append("-")
    
    try:
        scrape = driver.find_element(By.XPATH, '/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')
        No_Of_attribute.append(scrape.text)
    except NoSuchElementException:
        No_Of_attribute.append("-")

In [158]:
df = pd.DataFrame({"Dataset name":Dataset_name, "Attribute_type":Attribute_type,"Task":Task ,"Year": Year})
df

,Dataset name,Attribute_type,Task,Year
0,Iris,Real,Classification,Donated on 6/30/1988
1,Heart Disease,"Categorical, Integer, Real",Classification,Donated on 6/30/1988
2,Adult,"Categorical, Integer",Classification,Donated on 4/30/1996
3,Dry Bean Dataset,"Integer, Real",Classification,Donated on 9/13/2020
4,Diabetes,"Categorical, Integer",-,-
5,Wine,"Integer, Real",Classification,Donated on 6/30/1991
6,Breast Cancer Wisconsin (Diagnostic),Real,Classification,Donated on 10/31/1995
7,Rice (Cammeo and Osmancik),Real,Classification,Donated on 10/5/2019
8,Car Evaluation,Categorical,Classification,Donated on 5/31/1997
9,Mushroom,Categorical,Classification,Donated on 4/26/1987